/*
========================================
Banner
======================================== */
.banner {
    @apply w-full h-64 overflow-hidden;
    .banner-image {
        @apply object-cover inset-0;
    }
}
@screen md {
    .banner {
        height: 20rem;
    }
}


/*
========================================
Course Description & Sections
======================================== */
@screen md {
    .course-description,
    .course-sections {
        min-height: 400px;
        width: calc(100vw - 600px);
    }
}
.course-description {
    @apply mb-20;
}
.course-sections {
    h3 {
        @apply rounded-none;
        &.ui-accordion-header {
            min-height: 3rem;
            @apply w-full border-0 p-4;
            &:focus {
                @apply outline-none border-0;
            }
            svg {
                @apply float-right h-5;
            }
            button {
                @apply p-0 m-0;
            }
        }
        &.ui-state-active {
            @apply bg-steel-600;
        }
    }
    .course-pages {
        transition-duration: 0ms;
        @apply w-full border-0;
        &.ui-state-default {
            @apply bg-white;
        }
        &.ui-accordion-content {
            @apply h-auto pb-4;
        }
        .course-pages-list {
            & > div {
                @apply bg-steel-100 pt-4 px-4 pb-1;
                min-height: 3.75rem;
                &:hover {
                    @apply bg-steel-200 border-0;
                }
                &:last-child {
                    @apply mb-4;
                }
                p {
                    @apply float-left;
                }
                svg {
                    @apply float-right h-5;
                }
            }
        }
    }
}


/*
========================================
Course Details Sidebar
======================================== */
.course-details-sidebar {
    @apply w-full relative shadow-2xl;
    margin: 0 auto;
    min-height: 200px;
    max-width: 350px;
    .card-image, img {
        @apply h-48;
    }
    .card-content {
        @apply py-8 px-8;
    }
    button {
        @apply w-full mt-6;
    }
}
@screen md {
    .course-details-sidebar {
        @apply w-1/3 absolute right-0 -mt-40 mr-24;
        .card-image, img {
            @apply h-64;
        }
    }
}


/*
========================================
Course Page Sidebar
======================================== */
.course-sidebar-left {
    @apply bg-white w-full pb-12 -mt-16;
    .course-sidebar-section-title {
        @apply py-4 px-8 mt-0 bg-steel-200 font-bold rounded-none border-none;
        &.selected {
            @apply text-white bg-steel-600;
        }
        &:focus {
            @apply outline-none;
        }
        p {
            @apply mb-2;
        }
        span {
            @apply float-left mt-2 mr-2;
        }
    }
    .course-sidebar-pages {
        @apply ml-6 py-8 px-6 w-full border-none;
        a {
            @apply text-black;
            &:hover {
                @apply border-none;
            }
            &.selected {
                @apply font-bold;
            }
        }
    }
}
@screen md {
    .course-sidebar-left {
        @apply fixed h-screen overflow-y-scroll overflow-x-hidden;
        width: 250px;
    }
    .sidebar-content {
        margin-left: 250px;
        main {
            .course-page-content {
                @apply pl-4;
                margin: 0 auto;
                width: 600;
            }
        }
    }
}
@screen xl {
    .course-sidebar-left {
        width: 320px;
    }
    .sidebar-content {
        margin-left: 320px;
        main {
            .course-page-content {
                width: 600;
            }
        }
    }
}



.wp-block-embed__wrapper {
    iframe {
        margin: 1rem auto;
        width: 600 !important;
        height: 360 !important;
    }
    figure {
        margin: 1rem auto;
    }
}