// Typography
$font-body: 'Noto Sans', sans-serif;
$font-display: 'Noto Sans', sans-serif;

// Colors
$dark-1: #2C0735;
$dark-2: #150578;
$medium: #192BC2;
$light-1: #888AFB;
$light-2: #C28EF6;

// Screen Sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

/*
========================================
Root
========================================
*/
:root {
    font-size: 16px;
}